@mixin defaultDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {

  header {
    width: 100%;
    height: 700px;
    background: url("../images/header/bg.png") no-repeat;

    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;
      height: 110px;
      margin: 0 auto;

      .header-logo {
        @include defaultDisplay;
        justify-content: flex-start;
        width: 25%;
        height: inherit;

        img {
          height: 75px;
          cursor: pointer;
        }
      }

      .header-burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        height: inherit;

        .header-request {
          #btn-request {
            width: 160px;
            height: 40px;
            border: 1px solid #1FAFFD;
            text-transform: uppercase;
            color: #1FAFFD;
            background-color: #020814;
            font-size: 13px;
            cursor: pointer;
          }
        }

        .burger-menu {
          width: 37px;
          cursor: pointer;

          .menu-item {
            width: inherit;
            height: 3px;
            margin: 6px 0;
            background-color: #1FAFFD;
          }
        }
      }
    }

    .header-container {
      width: 75%;
      height: 375px;
      margin: 180px auto 0;

      .header-text {
        p {
          margin: 15px 0;
          text-transform: uppercase;
          color: #fff;
        }
      }

      .header-project {
        @include defaultDisplay;
        justify-content: flex-start;
        width: inherit;
        height: 40px;
        margin: 40px 0 27px;

        #btn-project {
          width: 210px;
          height: 40px;
          border: 1px solid #1FAFFD;
          text-transform: uppercase;
          color: #1FAFFD;
          background-color: #020814;
          font-size: 13px;
          cursor: pointer;
        }
      }

      .header-nav {
        @include defaultDisplay;
        justify-content: space-between;
        width: 725px;
        height: 20px;
        margin: 53px 0 0;

        p {
          font-size: 17px;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }

  main {
    width: 100%;
    margin: 0 auto;

    .information {
      @include defaultDisplay;
      justify-content: space-between;
      width: 75%;
      padding: 60px 0;
      margin: 0 auto;

      &-item {
        @include defaultDisplay;
        flex-direction: column;
        width: 30%;
        height: 300px;

        .information-image {
          @include defaultDisplay;
          width: 90%;
          height: 150px;
          margin: 0 auto;

          img {
            width: 40%;
            height: 85%;
          }
        }

        .information-header {
          @include defaultDisplay;
          width: 90%;
          height: 20px;
          margin: 10px auto;

          h3 {
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .information-desc {
          width: 50%;
          height: 190px;
          margin: 0 auto;

          p {
            text-align: center;
          }
        }
      }
    }

    .mission {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      height: 720px;
      padding: 65px 0 0;
      background: #F4F4F4;

      &-header {
        @include defaultDisplay;
        width: 75%;
        height: 50px;
        margin: 10px auto 45px;

        h3 {
          font-size: 48px;
        }
      }

      &-container {
        @include defaultDisplay;
        width: 75%;
        margin: 0 auto;
        height: 520px;

        .mission-left, .mission-right {
          width: 30%;

          .container-item {
            width: 100%;
            height: 100px;

            .container-text {
              p {
                font-size: 15px;
                margin: 15px 0;
                color: #505050;
              }
            }
          }
        }

        .mission-image {
          width: 55%;
          height: inherit;
          margin: 0 20px;

          .image-container {
            width: 100%;
            height: inherit;

            img {
              width: 100%;
              height: inherit;
            }
          }
        }
      }
    }

    .services {
      width: 100%;
      background: url("../images/main/servises/bg.png");
      padding: 0 0 100px;

      &-container {
        @include defaultDisplay;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;

        .container-header {
          @include defaultDisplay;
          width: 100%;
          padding: 65px 0 50px;
        }

        .container-wrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;

          .container-basic, .container-default, .container-premium {
            @include defaultDisplay;
            flex-direction: column;
            width: 30%;
            height: auto;

            .basic-header, .default-header, .premium-header {
              @include defaultDisplay;
              flex-direction: column;
              font-size: 34px;
              padding: 20px 0 0;
              width: 80%;
              margin: 0 auto;
              color: #fff;

              span {
                font-size: 24px;
                color: #fff;
                margin: 10px auto;
              }
            }

            .basic-wrapper, .default-wrapper, .premium-wrapper {
              width: 80%;
              margin: 0 auto;

              li {
                font-size: 17px;
                margin: 12px 0;
              }
            }

            .basic-button, .default-button, .premium-button {
              width: 80%;
              height: 40px;
              margin: 0 auto;
              padding: 17px 0 24px;

              .btn-discuss {
                @include defaultDisplay;
                width: 100%;
                height: inherit;
                background-color: #fff;
                font-size: 16px;
                border: none;
                cursor: pointer;
              }
            }
          }

          .container-basic {
            background: url("../images/main/servises/basic.png");
          }

          .container-default {
            background: url("../images/main/servises/standart.png");
          }

          .container-premium {
            background: url("../images/main/servises/premium.png");
          }
        }
      }
    }

    .portfolio {
      width: 100%;
      background: url("../images/main/portfolio/bg.png") no-repeat;
      z-index: 9999;
      margin-top: -80px;

      .portfolio-header {
        @include defaultDisplay;
        flex-direction: column;
        width: 75%;
        height: 50px;
        margin: 0 auto;
        padding: 150px 0 40px;
      }

      .portfolio-container {
        @include defaultDisplay;
        width: 75%;
        height: 500px;
        margin: 0 auto;

        .first-photo {
          width: 20%;
          height: inherit;
          background: url("../images/main/portfolio/first.png");
        }

        .second-photo {
          width: 80%;
          height: inherit;
          background: url("../images/main/portfolio/second.png");
        }
      }
    }


    .work {
      width: 100%;
      height: 620px;
      background: #E9FAFE url("../images/main/work/bg.png") no-repeat;

      &-header {
        @include defaultDisplay;
        width: 80%;
        height: 50px;
        font-size: 24px;
        padding: 80px 0 50px;
        margin: 0 auto;
      }

      &-container {
        width: 80%;
        height: 370px;
        margin: 0 auto;

        img {
          width: 90%;
          height: inherit;
        }
      }
    }

    .sales {
      width: 100%;
      padding-bottom: 100px;

      &-header {
        @include defaultDisplay;
        width: 75%;
        height: 50px;
        font-size: 22px;
        color: #1EAAF6;
        margin: 80px auto 30px;
      }

      .sales-inputs {
        @include defaultDisplay;
        justify-content: space-around;
        width: 75%;
        height: 100px;
        margin: 0 auto;
        background-color: #1FAFFD;

        .sale-input {
          width: 20%;
          height: 30px;
          color: #5C5C5C;
          font-size: 16px;
          padding: 5px 15px;
        }

        #btn-consultation {
          width: 20%;
          height: 43px;
          color: #0373B0;
          background-color: #7EE5FF;
          border: none;
          font-weight: 600;
          cursor: pointer;
          letter-spacing: 1px;
        }
      }
    }
  }


  footer {
    width: 100%;
    height: 200px;
    background: url("../images/footer/bg.png");

    .footer-container {
      @include defaultDisplay;
      width: 75%;
      height: 40%;
      margin: 0 auto;
      padding: 50px 0 30px;

      .container-item {
        @include defaultDisplay;
        flex-direction: column;
        width: 30%;
        height: inherit;

        h5 {
          font-size: 22px;
          color: #fff;
          margin: 10px 0;
          font-weight: normal;
        }

        span {
          font-size: 22px;
          color: #7EE5FF;
          margin: 10px 0;
          letter-spacing: 1px;
        }
      }
    }

    .footer-bottom {
      @include defaultDisplay;
      width: 100%;
      height: 30px;
      font-size: 18px;
      color: #fff;
    }
  }
}


















